<div class="card">
    <div class="card-header">
        Products
    </div>
    <div class="card-body">
        <div class="card-title">All the products</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Links</th>
                </tr>
            </thead>
            <tbody *ngFor="let product of products">
                <tr>
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.created_at}}</td>
                    <td>
                        <button class="btn btn-info" aria-hidden="true" routerLink="/products/{{product.id}}">Edit &raquo;</button>
                        <button class="btn btn-danger" (click)="DeleteProduct(product.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>